<ul class="nav navbar">
    <!-- Main menu -->
    <li class="current"><a routerLink="" routerLinkActive="active" class="active" [routerLinkActiveOptions]="{exact: true}"><i class="glyphicon glyphicon-th-large"></i> Dashboard</a></li>
    <li><a routerLink="about" routerLinkActive="active"><i class="glyphicon glyphicon-folder-open"></i> Mail</a></li>
    <li><a routerLink="projects" routerLinkActive="active"><i class="glyphicon glyphicon-stats"></i> Projects</a></li>
    <li><a routerLink="team" routerLinkActive="active"><i class="glyphicon glyphicon-list"></i> Team</a></li>
</ul>